/* #region global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #171717;
    min-height: 100vh;
}

::-webkit-scrollbar{
    width: 15px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: #00ff08;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    font-size: 18px;
    padding: 10px 40px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00ff08;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0 0 8px #00ff0868;
    transform: scale(1.05);
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00ff08;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}
/* #endregion global */

/* #region header */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    font-size: 19px;
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}
/* #endregion header */

/* #region topo */
.topo-do-site{
    padding: 70px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #00ff08;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}
/* #endregion topo */

/* #region especialidades */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff79;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
/* #endregion especialidades */

/* #region sobre */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p{
    margin: 30px 0;
    text-align: justify;
}
/* #endregion sobre */

/* #region portfólio */
section.portfolio{
    padding: 80px 4%;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-portfolio{
    width: 360px;
    height: 460px;
    background-color: #00ff08;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 20px;
    position: relative;
}

.img-portfolio:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover{
    opacity: 1;
}
/* #endregion portfólio */

/* #region formulário */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #0000006e;
    border: none;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
}

form textarea{
    resize: none;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    max-width: 120px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
/* #endregion formulário */

/* #region rodapé */
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-bottom: solid 2px #00ff08;
}

footer .line-footer p i{
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}
/* #endregion rodapé */



/* #region responsive */
@media screen and (max-width: 1020px){
/* #region responsive global */
.flex{
    flex-direction: column-reverse;
}

h2.titulo{
    font-size: 30px;
    line-height: 30px;
}
/* #endregion responsive global */

/* #region responsive header */
.menu-desktop, .btn-contato{
    display: none;
}
/* #endregion responsive header */

/* #region responsive topo */
section.topo-do-site .flex{
    gap: 40px;
}

section.topo-do-site{
    padding: 20px 8%;
}

.topo-do-site h1{
    font-size: 30px;
}

.topo-do-site .img-topo-site img{
    width: 100%
}
/* #endregion topo */

/* #region responsive habilidades */
section.especialidades{
    padding: 40px 8%;
}
/* #endregion responsive habilidades */

/* #region responsive sobre */
section.sobre{
    padding: 40px 8%;
}

.sobre .txt-sobre h2{
    font-size: 34px;
    line-height: 35px;
    text-align: center;
}

.btn-social{
    text-align: center;
}

.img-sobre img{
    width: 100%;
}
/* #endregion responsive sobre */

/* #region responsive portfólio */
section.portfolio{
    padding: 80px 8%;
}

section.portfolio .flex{
    flex-direction: column;
}

.img-portfolio{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

section.portfolio .flex{
    gap: 60px;
}
/* #endregion responsive portfólio */

/* #region responsive rodapé */
footer .flex{
    flex-direction: column;
    gap: 30px;
}

footer .line-footer{
   text-align: center; 
}
/* #endregion responsive rodapé */
}
/* #endregion responsive */